$gray-800: #141416;
$gray-700: #23262f;
$gray-600: #353945;
$gray-500: #777e91;
$gray-400: #b1b5c4;
$gray-300: #e6e8ec;
$gray-200: #f4f5f6;
$gray-100: #fcfcfd;

$primary-yellow: #ffc737;
$primary-blue: #3772ff;
$primary-pink: #9757d7;
$primary-orange: #ff6838;
$primary-green: #58bd7d;

$secondary-yellow: #ffd166;
$secondary-blue: #4bc9f0;
$secondary-200: #e4d7cf;
$secondary-100: #cdb4db;
